/* CSS for UI elements (a.k.a. chrome) */

@import "variables.css";

::-webkit-scrollbar {
  background: var(--bg);
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
}
html {
  scrollbar-color: var(--scrollbar) var(--bg);
}
#searchresults a,
.content a:link,
a:visited,
a > .hljs {
  color: var(--links);
}

.header-links {
  padding: 0 5rem;
  height: auto;
  line-height: 200%;
}

.header-links > a:nth-of-type(n+2) {
  margin-left: 5rem;
}

.header-logo {
  display: flex;
  width: var(--sidebar-width);
  align-items: center;
}

.logo {
  background-image: url("../assets/imgs/logo.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 2rem 0;
  width: calc(var(--header-height) + 20px);
  height: 100%;
}

.website-title {
	flex: 1;
	font-weight: 800;
	font-size: 150%;
}

.icon-page-toc {
  transform: rotateX(180deg);
}

/* Menu Bar */

#menu-bar,
#menu-bar-hover-placeholder {
  z-index: 101;
  margin: auto calc(0px - var(--page-padding));
}
#menu-bar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--bg);
  border-bottom-color: var(--bg);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
#menu-bar.sticky,
.js #menu-bar-hover-placeholder:hover + #menu-bar,
.js #menu-bar:hover,
.js.sidebar-visible #menu-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0 !important;
}
#menu-bar-hover-placeholder {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: var(--menu-bar-height);
}
#menu-bar.bordered {
  border-bottom-color: var(--table-border-color);
}
#menu-bar i,
#menu-bar .icon-button {
  position: relative;
  padding: 0 8px;
  z-index: 10;
  line-height: var(--menu-bar-height);
  cursor: pointer;
  transition: color 0.5s;
}
@media only screen and (max-width: 420px) {
  #menu-bar i,
  #menu-bar .icon-button {
    padding: 0 5px;
  }
}

.icon-button {
  border: none;
  background: none;
  padding: 0;
  color: inherit;
}
.icon-button i {
  margin: 0;
}

.right-buttons {
  margin: 0 15px;
}
.right-buttons a {
  text-decoration: none;
}

.left-buttons {
  display: flex;
  margin: 0 5px;
}
.no-js .left-buttons {
  display: none;
}

.menu-title {
  display: block;
  max-width: var(--content-max-width);
  margin: auto;
  font-weight: 200;
  font-size: 2rem;
  line-height: calc(var(--header-height) / 2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.js .menu-title {
  cursor: pointer;
}

.menu-bar,
.menu-bar:visited,
.nav-chapters,
.nav-chapters:visited,
.mobile-nav-chapters,
.mobile-nav-chapters:visited,
.menu-bar .icon-button,
.menu-bar a i {
  color: var(--icons);
}

.menu-bar i:hover,
.menu-bar .icon-button:hover,
.nav-chapters:hover,
.mobile-nav-chapters i:hover {
  color: var(--icons-hover);
}

/* Nav Icons */

.nav-chapters {
  font-size: 2.5em;
  text-align: center;
  text-decoration: none;

  position: fixed;
  top: 0;
  bottom: 0;
  margin: 0;
  max-width: 150px;
  min-width: 90px;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  transition: color 0.5s, background-color 0.5s;
}

.nav-chapters:hover {
  text-decoration: none;
  background-color: var(--theme-hover);
  transition: background-color 0.15s, color 0.15s;
}

.nav-wrapper {
  width: var(--content-max-width);
  margin: auto;
  margin-top: 50px;
}

.mobile-nav-chapters {
  font-size: 2.5em;
  text-align: center;
  text-decoration: none;
  width: 90px;
  border-radius: 5px;
  background-color: var(--sidebar-bg);
}

.previous {
  float: left;
}

.next {
  float: right;
  right: var(--page-padding);
}

@media only screen and (max-width: 1080px) {
  .nav-wrapper {
    display: block;
  }
}

@media only screen and (max-width: 1380px) {
  .sidebar-visible .nav-wrapper {
    display: block;
  }
}

/* Inline code */

:not(pre) > .hljs {
  display: inline;
  padding: 0.1em 0.3em;
  border-radius: 3px;
}

:not(pre):not(a) > .hljs {
  color: var(--inline-code-color);
  overflow-x: initial;
}

a:hover > .hljs {
  text-decoration: underline;
}

pre {
  position: relative;
}
pre > .buttons {
  position: absolute;
  z-index: 100;
  right: 5px;
  top: 5px;

  color: var(--sidebar-fg);
  cursor: pointer;
}
pre > .buttons :hover {
  color: var(--sidebar-active);
}
pre > .buttons i {
  margin-left: 8px;
}
pre > .buttons button {
  color: inherit;
  background: transparent;
  border: none;
  cursor: inherit;
}
pre > .result {
  margin-top: 10px;
}

/* Search */

#searchresults a {
  text-decoration: none;
}

mark {
  border-radius: 2px;
  padding: 0 3px 1px 3px;
  margin: 0 -3px -1px -3px;
  background-color: var(--search-mark-bg);
  transition: background-color 300ms linear;
  cursor: pointer;
}

mark.fade-out {
  background-color: rgba(0, 0, 0, 0) !important;
  cursor: auto;
}

.searchbar-outer {
  display: flex;
  height: var(--header-height);
  border-bottom: 1px var(--divider) solid;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  flex-direction: row;
}
.searchbar-outer .fa-search {
  padding-top: 5px;
  color: var(--header-fg);
}
.searchbar-outer .fa {
  font-size: 20px;
}

#searchbar {
  margin: 5px auto 0 auto;
  padding: 10px 2px;
  transition: box-shadow 300ms ease-in-out;
  color: var(--searchbar-fg);
}

#search-popup-closer-button {
  padding-top: 5px;
  margin-left: 2rem;
  cursor: pointer;
}

#search-popup-closer-button:hover {
  color: var(--page-toc-selected);
}

.searchresults-header {
  font-weight: bold;
  font-size: 1em;
  padding: 1.5rem 2rem 1rem 2rem;
  color: var(--searchresults-header-fg);
}

.searchresults-outer {
  overflow-y: auto;
}

ul#searchresults {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul#searchresults li {
  padding: 2rem;
  border-bottom: 1px solid var(--divider);
  transition: background-color 0.4s;
}
ul#searchresults li:hover {
  background-color: var(--searchresults-hover-bg);
}
ul#searchresults li.focus {
  background-color: var(--searchresults-li-bg);
}
ul#searchresults span.teaser {
  display: block;
  clear: both;
  margin: 5px 0 0 20px;
  font-size: 0.8em;
}
ul#searchresults span.teaser em {
  font-weight: bold;
  font-style: normal;
}

/* custom css */
.searchbar-side {
  display: flex;
  background-color: var(--bg);
  width: var(--search-max-width);
  height: 100vh;
  margin-left: auto;
  flex-direction: column;
  border-left: 1px var(--divider) solid;
  transition: transform 0.15s;
  transform: translateX(100%);
}

#search-wrapper {
  overflow-y: auto;
}

#search-wrapper.hidden {
  display: block !important;
}

#search-wrapper.gitbook-scrollbar::-webkit-scrollbar-track,
#search-wrapper.gitbook-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--bg);
}
#search-wrapper:hover.gitbook-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-small-hover);
}

.search-popup {
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: row;
  transition: opacity 0.15s;
  z-index: 1010;
}

.search-popup:not(:has(.hidden)) {
  display: flex;
}

.search-popup[is-visible="true"] .searchbar-side {
  transform: translateX(0%);
}

.search-popup:not([is-visible="true"]) .searchbar-side {
  transform: translateX(100%);
}

.search-popup[is-visible="true"] {
  opacity: 1;
}

.search-popup:not([is-visible="true"]) {
  opacity: 0;
}

.search-popup-opener {
  display: flex;
  width: var(--page-toc);
  align-items: center;
  padding-left: 3rem;
}
.fa-search {
  margin: 0 1rem 2px 0 !important;
}

/* Sidebar */

.sidebar {
  position: sticky;
  left: 0;
  top: 0;
  bottom: 0;
  width: var(--sidebar-width);
  height: calc(100vh - var(--sidebar-cut-y));
  font-size: 0.875em;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: contain;
  background-color: var(--sidebar-bg);
  color: var(--sidebar-fg);
  border-right: 1px var(--divider) solid;
  transition: height 0.2s;
}
.sidebar-extender {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.sidebar-scrollbox {
  display: flex;
  flex-direction: column;
}
.sidebar-scrollbox .chapter {
  flex: 1;
}
.sidebar-scrollbox.gitbook-scrollbar::-webkit-scrollbar-track,
.sidebar-scrollbox.gitbook-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--sidebar-bg);
}
.sidebar-scrollbox:hover.gitbook-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-small-hover);
}
.sidebar-resizing {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.js:not(.sidebar-resizing) .sidebar {
  transition: height 0.2s, transform 0.3s; /* Animation: slide away */
}
.sidebar code {
  line-height: 2em;
}
.sidebar .sidebar-scrollbox {
  overflow-y: auto;
  padding: 4rem 3rem 2rem 4rem;
}
.sidebar .sidebar-resize-handle {
  position: absolute;
  cursor: col-resize;
  width: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.js .sidebar .sidebar-resize-handle {
  cursor: col-resize;
  width: 5px;
}
.sidebar-hidden .sidebar {
  transform: translateX(calc(0px - var(--sidebar-width)));
}
.sidebar::-webkit-scrollbar {
  background: var(--sidebar-bg);
}
.sidebar::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
}

.sidebar-hidden .page-wrapper {
  margin-left: calc(var(--sidebar-width) * -1);
}
.sidebar-footer {
  display: block;
  background-color: var(--sidebar-footer-bg);
  padding: 2rem;
  margin: 2rem 4rem 2rem 4rem;
  transition: color 0.6s;
}
.sidebar-footer,
.sidebar-footer:visited {
  color: var(--sidebar-footer-fg);
  text-decoration: none;
}
.sidebar-footer:hover {
  color: var(--sidebar-footer-hg);
}
.fake-search,
.fake-search::placeholder {
  color: var(--header-fg);
}

.chapter {
  list-style: none outside none;
  padding-left: 0;
  line-height: 2.2em;
}

.chapter ol {
  width: 100%;
}

.chapter li {
  display: flex;
  color: var(--sidebar-non-existant);
}
.chapter li a {
  display: block;
  padding: 0;
  text-decoration: none;
  color: var(--sidebar-fg);
}

.chapter li a:hover {
  color: var(--sidebar-active);
}

.chapter li a.active {
  color: var(--sidebar-active);
}

.chapter li > a.toggle {
  cursor: pointer;
  display: block;
  margin-left: auto;
  padding: 0 10px;
  user-select: none;
  opacity: 0.68;
}

.chapter li > a.toggle div {
  transition: transform 0.5s;
}

/* collapse the section */
.chapter li:not(.expanded) + li > ol {
  display: none;
}

.chapter li.chapter-item {
  line-height: 1.5em;
  margin-top: 0.6em;
}

.chapter li.expanded > a.toggle div {
  transform: rotate(90deg);
}

.spacer {
  width: 100%;
  height: 3px;
  margin: 5px 0;
}
.chapter .spacer {
  background-color: var(--sidebar-spacer);
}

@media (-moz-touch-enabled: 1), (pointer: coarse) {
  .chapter li a {
    padding: 5px 0;
  }
  .spacer {
    margin: 10px 0;
  }
}

.section {
  list-style: none outside none;
  /* padding-left: 0; */
  line-height: 1.9em;
}
/*
ol.section li {
  padding-left: 20px;
}
 */

/* Theme Menu Popup */

.theme-popup {
  position: absolute;
  left: 10px;
  top: var(--menu-bar-height);
  z-index: 1000;
  border-radius: 4px;
  font-size: 0.7em;
  color: var(--fg);
  background: var(--theme-popup-bg);
  border: 1px solid var(--theme-popup-border);
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}
.theme-popup .default {
  color: var(--icons);
}
.theme-popup .theme {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 2px 10px;
  line-height: 25px;
  white-space: nowrap;
  text-align: left;
  cursor: pointer;
  color: inherit;
  background: inherit;
  font-size: inherit;
}
.theme-popup .theme:hover {
  background-color: var(--theme-hover);
}
.theme-popup .theme:hover:first-child,
.theme-popup .theme:hover:last-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.page-toc-menu {
  position: sticky;
  top: 0;
  width: var(--page-toc);
  height: calc(100vh - var(--sidebar-cut-y));
  transform: translateX(-1px); /* dirty workaround */
  overflow-y: auto;
  z-index: 1005;
}

.page-toc-tree {
  position: relative;
  font-size: 80%;
  padding: 3rem 0 1.5rem 0;
  border-left: 1px var(--divider) solid;
}
.page-toc-tree-title {
  margin-left: 3rem;
  margin-bottom: 0.75rem;
  text-transform: uppercase;
}
.page-toc-tree-title span {
  font-size: 80%;
  font-weight: normal;
  margin: 0 0 2px 0.5rem;
  letter-spacing: 0.2rem;
}
.page-toc-tree a {
  display: block;
  border-left: 2px solid transparent;
  transform: translateX(-1px); /* dirty workaround */
  transition: color 0.5s;
}
.page-toc-tree a,
.page-toc-tree a:visited {
  color: var(--page-toc-fg);
  text-decoration: none;
}
.page-toc-tree a:hover {
  color: var(--page-toc-selected);
}
.page-toc-tree a[selected="true"] {
  color: var(--page-toc-selected);
  border-left: 2px solid var(--page-toc-selected);
}
.page-toc-tree p {
  margin: 0;
  margin-left: 3rem;
}
.page-toc-tree .icon-page-toc {
  padding-top: 2px;
}

.page-toc-tree a.depth-2 {
  padding-left: calc(var(--page-toc-padding-depth) * 1);
}
.page-toc-tree a.depth-3 {
  padding-left: calc(var(--page-toc-padding-depth) * 2);
}
.page-toc-tree a.depth-4 {
  padding-left: calc(var(--page-toc-padding-depth) * 3);
}
.page-toc-tree a.depth-5 {
  padding-left: calc(var(--page-toc-padding-depth) * 4);
}

.view-settings {
  display: flex;
  position: sticky;
  background-color: var(--bg);
  top: 0;
  height: var(--sticky-header-height);
  border-bottom: 1px solid var(--divider);
  border-right: 1px solid var(--divider);
  z-index: 500;
}

.fa-button .fa {
  font-size: 20px;
}

.fa-button {
  cursor: pointer;
}

.fa-button:focus,
.fa-button:active {
  outline: none;
}

#page-toc-opener {
  display: none;
  margin-right: 2rem;
}
#page-toc-opener .fa {
  font-size: 16px;
}

.view-settings .fa-button:nth-of-type(n + 1) {
  margin-left: 2rem;
}

/* Responsive Design */
@media screen and (max-width: 1200px) {
  #page-toc-opener {
    display: block;
  }
  .page-toc-menu {
    position: fixed;
    display: none;
    background-color: var(--bg);
    right: 5px;
    top: calc(var(--sidebar-cut-y) + var(--sticky-header-height) - 10px);
    height: auto;
    max-height: 40vh;
    border: 1px solid var(--divider);
    border-radius: 5px;
    box-shadow: 0px 0px 10px -2px var(--divider);
  }
  .page-toc-menu[active="true"] {
    display: block;
  }
  .page-toc-tree {
    padding: 2rem 0 1.5rem 0;
  }
  .view-settings {
    border-right: 0;
  }
}
