/* Base styles and content styles */

@import "variables.css";

:root {
  /* Browser default font-size is 16px, this way 1 rem = 10px */
  font-size: 62.5%;
}

html {
  font-family: "Open Sans", sans-serif;
  color: var(--fg);
  background-color: var(--bg);
  text-size-adjust: none;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  overflow-x: hidden;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  background-color: var(--header-bg);
  width: 100%;
  height: var(--header-height);
  min-height: var(--header-height);
  color: var(--header-fg);
  border-bottom: 1px var(--divider) solid;
  box-shadow: 0 1px 8px var(--divider);
  z-index: 1007;
}

.important {
  color: var(--important-info);
  font-weight: bold;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.header-content > * {
  border-right: 1px solid var(--divider);
  height: 90%;
}

code {
  font-family: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo,
    "DejaVu Sans Mono", monospace, monospace !important;
  font-size: 0.875em; /* please adjust the ace font size accordingly in editor.js */
}

input {
  font-family: "Open Sans", sans-serif;
}

/* Don't change font size in headers. */
h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  font-size: unset;
}

main h1 {
  margin-top: 6rem;
  padding-bottom: 5rem;
  margin-bottom: 7rem;
  border-bottom: 2px solid var(--divider);
}

main h2 {
  padding-top: 3rem;
  margin-top: 5rem;
  border-top: 1px solid var(--divider);
}

.left {
  float: left;
}
.right {
  float: right;
}
.boring {
  opacity: 0.6;
}
.hide-boring .boring {
  display: none;
}
.hidden {
  display: none !important;
}

h2,
h3 {
  margin-top: 2.5em;
}
h4,
h5 {
  margin-top: 2em;
}

.header + .header h3,
.header + .header h4,
.header + .header h5 {
  margin-top: 1em;
}

h1 a.header:target::before,
h2 a.header:target::before,
h3 a.header:target::before,
h4 a.header:target::before {
  display: inline-block;
  content: "»";
  margin-left: -30px;
  width: 30px;
}

h1 a.header:target,
h2 a.header:target,
h3 a.header:target,
h4 a.header:target {
  scroll-margin-top: calc(var(--menu-bar-height) + 0.5em);
}

.main-page {
  position: sticky;
  top: var(--header-height);
  display: flex;
  flex-direction: row;
}

.page {
  outline: 0;
}
.page-wrapper {
  box-sizing: border-box;
}
.js:not(.sidebar-resizing) .page-wrapper {
  transition: margin-left 0.3s ease, transform 0.3s ease; /* Animation: slide away */
}

.content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 0 15px 50px;
}
.content main {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--content-max-width);
}
.content p {
  line-height: 1.45em;
}
.content ol {
  line-height: 1.45em;
}
.content ul {
  line-height: 1.45em;
}
.content a {
  text-decoration: none;
}
.content a:hover {
  text-decoration: underline;
}
.content img {
  max-width: 100%;
}
.content .header:link,
.content .header:visited {
  color: var(--fg);
}
.content .header:link,
.content .header:visited:hover {
  text-decoration: none;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}
table td {
  padding: 3px 20px;
  border: 1px var(--table-border-color) solid;
}
table thead {
  background: var(--table-header-bg);
}
table thead td {
  font-weight: 700;
  border: none;
}
table thead th {
  padding: 3px 20px;
}
table thead tr {
  border: 1px var(--table-header-bg) solid;
}
/* Alternate background colors for rows */
table tbody tr:nth-child(2n) {
  background: var(--table-alternate-bg);
}

blockquote {
  margin: 20px 0;
  padding: 0 20px;
  color: var(--fg);
  background-color: var(--quote-bg);
  border-top: 0.1em solid var(--quote-border);
  border-bottom: 0.1em solid var(--quote-border);
}

:not(.footnote-definition) + .footnote-definition,
.footnote-definition + :not(.footnote-definition) {
  margin-top: 2em;
}
.footnote-definition {
  font-size: 0.9em;
  margin: 0.5em 0;
}
.footnote-definition p {
  display: inline;
}

.tooltiptext {
  position: absolute;
  visibility: hidden;
  color: #fff;
  background-color: #333;
  transform: translateX(
    -50%
  ); /* Center by moving tooltip 50% of its width left */
  left: -8px; /* Half of the width of the icon */
  top: -35px;
  font-size: 0.8em;
  text-align: center;
  border-radius: 6px;
  padding: 5px 8px;
  margin: 5px;
  z-index: 1000;
}
.tooltipped .tooltiptext {
  visibility: visible;
}

.chapter {
  margin: 0;
}

.chapter li.part-title {
  color: var(--sidebar-fg);
  margin: 5px 0;
  font-weight: bold;
}

.flex-filler {
  flex: 1;
}

/* GitBook style clone */
.gitbook-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.gitbook-scrollbar::-webkit-scrollbar-track {
  background-color: var(--bg);
}
.gitbook-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-small);
  border-radius: 4px;
  transition: background-color 1s;
}
.gitbook-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-small-hover);
}

.gitbook-input {
  background-color: transparent;
  font-size: 16px;
  border: 0;
  outline: none;
}
.gitbook-input:focus,
.gitbook-input.active {
  box-shadow: none;
  border: 0;
  outline: none;
}

.gitbook-rounded-box {
  border-radius: 3px;
}

.gitbook-header-link, .gitbook-header-link:visited {
	color: #346ddb;
	font-weight: 500;
	text-decoration: none;
}

.gitbook-header-link:hover {
	color: #0049d7;
}
