<div class="header-logo">
    <div class="logo">
    </div>
	
	<span class="website-title">Pattern Park</span>
</div>
<div class="header-links flex-filler">
    <a href="https://www.uni-siegen.de/" target="_blank" class="gitbook-header-link">Universität Siegen</a>
    <a href="https://www.hochschule-stralsund.de/" target="_blank" class="gitbook-header-link">Hochschule Stralsund</a>
    <a href="https://gitlab.hochschule-stralsund.de/pattern-park/pattern-park-app/" target="_blank" class="gitbook-header-link">Source Code</a>
</div>
